input{
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin: 10px 0 10px 0;
    
}

.dropDown{
    width: 200px;
    height: 50px;
}

select{
    margin: 10px 0 10px 0;
    display: block;
}

.block {
    display: block;
}
